{% extends "base.html" %}
{% block body %}
<div class="container" style="height: 500px; margin-top: 100px;">
    <h2 class="text-center mb-4">Admin Dashboard</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title">Total Products</h5>
                    <p class="card-text">{{ product_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Total Categories</h5>
                    <p class="card-text">{{ category_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-warning text-dark">
                <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <p class="card-text">{{ order_count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
